<nz-modal 
  [(nzVisible)]="isVisibleModal" 
  nzTitle="Reordenar secciones" 
  nzClosable="false"
  [nzWidth]="850"
  [nzFooter]="extraTemplateOrder">
    <ng-container>
        <div class="row">
            <div class="col-md-12">
                <p><b>Selecciona la sección y arrástrala para ubicarlo en el orden que desees</b></p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                    <table class="table table table-custom table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">N°</th>
                            <th scope="col">NOMBRE DE SECCIÓN</th>
                          </tr>
                        </thead>
                        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                          <tr *ngFor="let item of SeccionesList;let i = index" cdkDrag >
                            <th>
                              {{i+1}}
                            </th>
                            <th>{{item.seccion}}</th>
                          </tr>
                        </tbody>
                      </table>
            </div>
            
        </div>
    </ng-container>
    <ng-template #extraTemplateOrder>
        <div class="row">
            <div class="col-sm-6 text-left"><button type="button" class="btn btn-default-custom" (click)="handleCancelarModal()"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button></div>
            <div class="col-sm-6 text-right"><button type="button" class="btn btn-primary-custom" (click)="handleSaveModal()"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button></div>
        </div>  
    </ng-template>
</nz-modal>
