.btn_hoverable:hover{
    cursor: pointer;
}
.carrusel_icon{
    font-size:30px;
}
.text_red{
    color: #dc3545;
    font-size:14px
}
.btn_footer_card_carrusel{
    height: 45px;
    width: 200px;
    font-size: 18px;
}
/*
.ant-table-thead > tr > th.ant-table-column-sort {
    background: #dc3545;
}*/
.text_completar {
    float: center;
    margin-right: 6px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
    /*color: #244DAE;*/
    font-size: 18px;
    color:#ffffff;
    text-align: center;
}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.w3-light-red{
    color: #000!important;
    background-color: #dc3545!important;
}

.w3-round-xlarge {
    border-radius: 5px;
    height: 43px;
}
.w3-container {
    padding: 0.2em 16px;
}
.w3-round-xlarge {
	border-radius: 5px;
}
.w3-round-xlarge{border-radius:5px}

.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
/* End extract */
