
<ng-container>
    <div class="row">
        <div class="col-sm-12 text-left">
            <button class="btn btn-primary-custom" (click)="md_add_edit_pregunta()">
                <i class="fa fa-plus-circle"></i> Agregar pregunta
            </button>
        </div>
    </div>
</ng-container>
<ng-container>
    <div class="table-responsive table-striped table-bordered table-hover">
        <nz-table #ajaxTable class="container-table-custom" nzShowSizeChanger [nzFrontPagination]="true"
        [nzBordered]="true" [nzData]="PreguntasList" [nzLoading]="cargando_tabla">

            <thead>
                <tr>
                    <th width="90">N°</th>
                    <th width="550">Pregunta</th>
                    <th>Tipo</th>
                    <th>Categoría</th>
                    <th>Sub-Categoría</th>
                    <th width="100">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ajaxTable.data; let i = index">
                    <td align="center">{{ item.idx+1 }}</td>
                    <td>{{ item.pregunta}}</td>
                    <td>{{ item.tipo_pregunta}}</td>
                    <td>{{ item.categoria}}</td>
                    <td>{{ item.sub_categoria}}</td>          
                    <td align="center" >
                        <ng-container>
                            <a class="btn btn-icon"  data-tooltip="tooltip" data-placement="bottom" 
                            title="Editar pregunta" (click)="md_add_edit_pregunta(item.idx,item.por_defecto)">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</ng-container>
<div class="row" style="margin-top: 15px;">
    <div class="col-sm-6 text-left">
        <button type="button" class="btn btn-default-custom" (click)="send_to_datos()">
            Retornar
        </button>
    </div>
    <div class="col-sm-6 text-right">
        <!--<button type="button" class="btn btn-primary-custom" (click)="save_update_preguntas()" ><i class="fa fa-save"></i> Guardar</button>
        &nbsp;&nbsp;-->
        <button type="button" *ngIf="!encuesta_data.encuesta.es_todos" class="btn btn-primary-custom" (click)="save_update_preguntas(false,true)" ><i class="fa fa-paper-plane"></i> Guardar</button>
    </div>
</div>


<ng-container *ngIf="show_modal_pregunta">
    <app-re-modal-registro-pregunta
        [isVisibleModal]="show_modal_pregunta" 
        [title]="title_modal"
        [pregunta]="selected_pregunta"
        [preguntas_condicionales]="PreguntasList_Condicionales"
        [is_first]="is_first"
        [es_por_defecto]="es_por_defecto"
        [id_encuesta]="id_encuesta"
        (onCloseModal)="handleOnCloseModal($event)"
        (onSaveDataPregunta)="handleOnSaveDataPregunta($event)">
    </app-re-modal-registro-pregunta>
</ng-container>