<ng-container>
    <div class="table-responsive table-striped table-bordered table-hover">
        <nz-table #ajaxTable class="container-table-custom" nzShowSizeChanger [nzFrontPagination]="true"
        [nzBordered]="true" [nzData]="PreguntasList" [nzLoading]="cargando_tabla">

            <thead>
                <tr>
                    <th width="90">N°</th>
                    <th width="550">Pregunta</th>
                    <th>Tipo</th>
                    <th>Categoría</th>
                    <th>Sub-Categoría</th>
                    <th width="100">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ajaxTable.data; let i = index">
                    <td align="center">{{ item.idx+1 }}</td>
                    <td>{{ item.pregunta}}</td>
                    <td>{{ item.tipo_pregunta}}</td>
                    <td>{{ item.categoria}}</td>
                    <td>{{ item.sub_categoria}}</td>          
                    <td align="center" >
                        <ng-container>
                            <a class="btn btn-icon"  data-tooltip="tooltip" data-placement="bottom" 
                            title="Ver pregunta" (click)="md_add_edit_pregunta(item.idx)">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</ng-container>

<ng-container *ngIf="show_modal_pregunta">
    <app-modal-vista-pregunta-extranet
        [isVisibleModal]="show_modal_pregunta" 
        [title]="title_modal"
        [pregunta]="selected_pregunta"
        [preguntas_condicionales]="PreguntasList_Condicionales"
        [is_first]="is_first"
        [es_por_defecto]="es_por_defecto"
        [id_encuesta]="id_encuesta"
        (onCloseModal)="handleOnCloseModal($event)">
    </app-modal-vista-pregunta-extranet>
</ng-container>